@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap");

* {
  font-family: Mulish, sans;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #262523;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  position: relative;
  opacity: 90%;
}

.searchBar{
  display: flex;
}

.listSection {
  background-color: #fafafa;
  border-radius: 3rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  width: auto;
  min-height: auto;
  margin: 1rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.table {
  --bs-table-bg: transparent;
  padding: 2rem;
}

.miCheckbox {
  cursor: pointer;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 3rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  padding: 3rem 2rem 3rem 2rem;
  width: 24rem;
  height: 32rem;
  margin: 1rem;
}

.addButton {
  margin-top: 1rem;
  width: 100%;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
}

.removeButtonContainer {
  display: flex;
  justify-content: center;
  height: 1.5rem;
}

.removeButton {
  border-radius: 8px;
  border: none;
  padding: 0.5em 0.5rem;
  font-size: 1em;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background-color: rgb(255, 100, 100);
}

.errorMessage {
  margin-top: 1rem;
}
